@using System.Threading.Tasks
@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-3">
		<ul>
			@foreach (var f in @Model.ChildContainers)
			{
				<li><a href="@f.Url">@f.Name</a></li>
			}
		</ul>
		<ul>
			@foreach (var f in @Model.ChildFiles)
			{
				<li><a href="@f.EditUrl">@f.Name</a></li>
			}
		</ul>
	</div>
</div>
